:root{
    --clr-primary: #407BFF;
    --clr-secondary: #c5d7ff;
    --clr-tertiary: #d9e9fa;
}

.category-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-wrapper-second{
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-container {
  margin: 2rem;
  flex-wrap: wrap;
  width: 50rem;
}

.category-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  border-radius: 1rem;
  margin: 1rem;
  width: 12rem;
  background-color: var(--clr-tertiary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.category-card:hover {
  background-color: var(--clr-secondary);
  cursor: pointer;
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.category-img {
  padding: 3px;
  margin: 5px;
  width: 6rem;
  height: auto;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: all 0.5s ease;
}

.package{
  color: #000105;
}

.mg-t-1 {
  margin-top: 1rem;
}

.txt-md{
    font-size: medium;
}

@media (max-width: 940px) {
  .category-container {
    width: 100%;
  }
}
